<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--linux-->
	<dllmap dll="msvcrt" target="libc.so" os="linux" />
	<dllmap dll="openal32" target="libopenal.so.1" os="linux" />
	<dllmap dll="portaudio" target="libportaudio.so.0" os="linux" />
	<dllmap dll="mpg123" target="libmpg123.so.0" os="linux" />
	<dllmap dll="opengl32" target="libGL.so.1" os="linux" />
	<dllmap dll="glfw3" target="libglfw.so.3" os="linux" />
	<!--osx-->
	<dllmap dll="msvcrt" target="libc.dylib" os="osx" />
	<dllmap dll="openal32" target="libopenal.dylib" os="osx" />
	<dllmap dll="portaudio" target="libportaudio.dylib" os="osx" />
	<dllmap dll="mpg123" target="libmpg123.dylib" os="osx" />
	<dllmap dll="opengl32" target="libGL.dylib" os="osx" />
	<dllmap dll="glfw3" target="libglfw.dylib" os="osx" />
</configuration>
